fastapi==0.129.0
uvicorn==0.40.0
python-multipart==0.0.22

numpy==1.23.5
opencv-contrib-python==4.5.5.64
pillow==12.1.1

paddlepaddle==2.6.2
paddleocr==2.7.0.3

shapely==2.0.1
pyclipper==1.4.0
pyyaml==6.0.3
scikit-image==0.19.3
tqdm==4.67.3
lmdb==1.7.5
imgaug==0.4.0
fire==0.7.1
attrdict==2.0.1
beautifulsoup4==4.14.3
lxml==6.0.2
rapidfuzz==3.14.3
fonttools==4.61.1
cython==3.2.4
requests==2.31.0
